<%- include('../compartido/menu/menu-component') %>
<%- include('../compartido/estilos-generales/estilos-generales-component') %>

<% if(error != undefined) { %>
    <div class="container">
        <div class="alert alert-warning" role="alert">
            Mensaje: <%= error %>
        </div>
    </div>
<% } %>

<div class="container">
    <h1>ESTABLECIMIENTOS</h1>
    <div class="mb-3">
        <a href="/establecimiento/vista/crear">
            <button type="button" class="btn btn-primary">
                Crear Establecimiento
            </button>
        </a>
    </div>
    <form action="/establecimiento/principal" method="GET">
        <div class="input-group mb-3">
            <label for="buscarID"></label>
            <input id="buscarID" type="text" class="form-control" placeholder="Buscar Establecimiento" name="busqueda">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
            </div>
        </div>
    </form>
    <div class="mb-3">
        <div class="row">
            <% arregloEstablecimientos.forEach((establecimiento) => { %>
                <div class="col-lg-4">
                    <div class="card mb-3" style="width: 20rem;">
                        <img src="<%= establecimiento.pathImagenEstablecimiento %>" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= establecimiento.nombreEstablecimiento %>
                                - <%= establecimiento.categoriaEstablecimiento %>
                            </h5>
                            <p class="card-text">
                                Dirección: <%= establecimiento.direccionEstablecimiento %>
                            </p>
                            <p class="card-text">
                                Teléfono: <%= establecimiento.telefonoEstablecimiento %>
                            </p>
                            <div class="btn-group">
                                <a href="/establecimiento/<%= establecimiento.idEstablecimiento %>/cupones">
                                    <button type="submit" class="btn btn-primary mr-1">
                                        Cupones
                                    </button>
                                </a>
                                <a href="/establecimiento/vista/editar/<%= establecimiento.idEstablecimiento %>">
                                    <button type="submit" class="btn btn-primary mr-1">
                                        Editar
                                    </button>
                                </a>
                                <form action="/establecimiento/eliminarDesdeVista/<%= establecimiento.idEstablecimiento %>"
                                      method="POST">
                                    <button type="submit" class="btn btn-primary">
                                        Eliminar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>


<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>